#options {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  padding: 20px;
  width: 400px;
  background-color: rgba( 0, 0, 0, .4 );
  border-radius: 5px;
}

#optionsContent{
  margin-top: 20px;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}

h1{
  font-family: 'Lato', sans-serif;
}

h2{
  font-family: 'Lato', sans-serif;
  margin-bottom: 10px
}

p{
  margin-bottom: 20px;
}

.actions{
  margin-bottom: 20px;
}

#textureList li{
  clear: both;
  list-style-type: none;
  position: relative;
  height: 35px;
  padding-top: 10px;
}

#textureList li span {
  text-transform: capitalize;
}

#textureList div{
  position: absolute;
  right: 0;
  top: 0;
}

#textureList li a{
  float: left;
}

a {
  color: inherit;
}

#textureControls {
  display: none;
}

#closeBtn {
  position: absolute;
  right: 15px;
  top: 10px;
}

.presets{
}

.presets a{
  float: left;
}

.nope{
  text-decoration: line-through;
}

:-moz-full-screen #options{ display: none }
:-webkit-full-screen #options{ display: none }
