

<div id="options">
    <h2>CSS3D Clouds</h2>
    <p>Move the <b>mouse to rotate</b> around and <b>mouse wheel to zoom</b> in and out. Hit <b>space to generate</b> a new cloud.
      <br> Hit <b>c to hide options</b>
    </p>

    <div>
      <h2>Texture list</h2>
      <ul id="textureList" >
      </ul>
    </div>

    <h2>Presets</h2>
    <div class="presets" >
      <a href="#" class="left button" id="cloudsPreset" >Clouds</a>
      <a href="#" class="middle button" id="stormPreset" >Storm</a>
      <a href="#" class="middle button" id="boomPreset" >Boom</a>
      <a href="#" class="right button" id="bayPreset" >Michael Bay</a>
    </div>

    <p>
        <a class="button" rel="external" href="http://www.clicktorelease.com/tutorials/css3dclouds" >Check out the tutorial here!</a>
        <a class="button" href="#" id="fullscreenBtn" >Fullscreen</a>
    </p>
</div>

