

<div id="options">
  <a href="#" id="closeBtn" class="button" >X</a>
  <h1>CSS3D Clouds</h1>
  <div id="optionsContent">
    <p>An experiment on creating 3d-like clouds with CSS3 3D Transforms and a bit of Javascript.</p>
    <p><a class="button" rel="external" href="http://www.clicktorelease.com/tutorials/css3dclouds" >Check out the tutorial here!</a></p>
    <p>Move the <b>mouse to rotate</b> around and <b>mouse wheel to zoom</b> in and out. Hit <b>space to generate</b> a new cloud. Works on <b>Firefox</b> (faster if Nightly), <b>Chrome</b> and <b>Safari</b>.</p>
    <div class="actions" >
      <a class="button" href="#" id="generateBtn" >Generate clouds</a> <a class="button" href="#" id="fullscreenBtn" >Fullscreen</a>
    </div>
    <div>
      <h2>Texture list</h2>
      <p>Select one or more textures to create clouds. The more the merrier!</p>
      <ul id="textureList" >
      </ul>
    </div>
    <h2>Presets</h2>
    <div class="presets" >
      <a href="#" class="left button" id="cloudsPreset" >Clouds</a>
      <a href="#" class="middle button" id="stormPreset" >Storm</a>
      <a href="#" class="middle button" id="boomPreset" >Boom</a>
      <a href="#" class="right button" id="bayPreset" >Michael Bay</a>
    </div>
  </div>
</div>

